*,
:before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

html { font-size: 62.5%; }

/* img { width: 100%; } */

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}



/* --- Typography --- */


.header {
  font-size: 3.2rem;
  margin: 2rem 0;
  text-shadow: 0 0 1px var(--black);
}

.heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2rem;
  text-shadow: 0 0 1px var(--black)
}

.body-text {
  font-size: 1.45rem;
  color: var(--dark-gray);
  line-height: 1.5;
  margin-bottom: 2rem;
}

.link {
  color: var(--black);
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.arrow {
  width: 4rem;
  transition: transform 250ms;
}

.link:hover .arrow {
  transform: translateX(10px);
}


@media screen and ( min-width: 1440px ) {
  .header {
    font-size: 5rem;
  }

  .heading {
    font-size: 2rem;
  }

  .body-text {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }

  .link {
    font-size: 2.5rem;
  }
}

/* --- hero --- */

.hero {
  height: 360px;
  position: relative;
}

@media screen and ( min-width: 1440px ) {
  .hero {
    height: 100%
  }
}

/* --- Nav --- */
.nav {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  padding: 3rem 2rem;
}

.hamburger {
  background-image: url(/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  width: 2rem;
  height: 1.7rem;
  cursor: pointer;
  transition: .2s;
  transition-delay: .1s;
}

.logo {
  margin: auto;
  cursor: pointer;
}

.menu {
  background-color: var(--white);
  border-radius: 0 10rem 10rem 0;
  padding: 3.2rem 1rem; 
  position: absolute;
  top: 0;
  left: -100%;
  transition: left .3s, border-radius .5s;
  width: 100%;
}

.menu.open {
  left: 0;
  border-radius: 0 ;

}


.hamburger.open {
  background-image: url(/images/icon-close.svg);
  z-index: 1;
}


@media screen and ( min-width: 1440px ) {
  .logo img {
    width: 10rem;
  }

  .logo {
    margin: 0;
  }

  .menu {
    background: transparent;
    top: 0;
    left: 15rem;
  }

  .nav__list {
    width: fit-content;
  }

  .hamburger {
    display: none;
  }
}


/* ---  List  --- */

.nav__list {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
}

.list__item a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  margin: 0 1rem;
}

@media screen and ( min-width: 1440px ) {
  .list__item a {
    color: var(--white);
  }

  .list__item a {
    position: relative;
  }

  .list__item a::before {
    content: '';
    background-color: var(--white);
    position: absolute;
    top: 25px;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .25s;
  }

  .list__item a:hover::before {
    transform: scaleX(1)
  }

}

/* --- Slider --- */

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__track {
  transition: transform 300ms;
  height: 360px;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}


@media screen and ( min-width: 1440px ) {
  .sliders__holder {
    display: grid;    
    grid-template-columns: 840px auto;
    height: 534px;
  }

  .slider-track {
  height: 534px;
  }

  .slider-image {
    height: 534px;
  }

}

/* --- Buttons --- */
.slider__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.btn img {
  width: 1rem;
}

.btn {
  border: 0;
  background-color: transparent;
  padding: 1rem 1.8rem;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and ( min-width: 1440px ) {

  .slider__buttons {
    transform: translateX(100%);
  }


  .btn {
    padding: 2rem 4rem
  }

  .btn img {
    width: 1.2rem;
  }
}

/* --- block-slider --- */

.block-slider__container {
  height: 360px;
  overflow: hidden;
}

.block-slider__track {
  position: relative;
  transition: transform 350ms;
  transition-timing-function: cubic-bezier(1,.27,0,1.26);
  transition-delay: 80ms;
}

.block-slider__slide {
  position: absolute;
  width: 100%;
  padding: 3rem 3rem 8rem;
}

@media screen and ( min-width: 1440px ) {
  .block-slider__slide {
    padding: 6rem 8rem 3rem;
  }

  .block-slider__container {
    height: 100%;
  }
}

/* --- Block About --- */

.image-about img {
  width: 100%;
}

.about {
  padding: 5rem 3rem 2rem;
}

@media screen and ( min-width: 1440px ) {
  .block-about {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}


/* --- Attribution --- */

.attribution {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}